In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as pt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [5]:
data = pd.read_csv("gender.csv")

In [6]:
data

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [7]:
data.shape

(5001, 8)

In [8]:
data['gender'].value_counts()

gender
Female    2501
Male      2500
Name: count, dtype: int64

In [9]:
data_nbc = pd.read_csv("gender.csv")
data_nbc

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [10]:
# Change gender type
# Male : 1
# Female : 0
data_nbc.gender = [1 if i == "Male" else 0 for i in data_nbc.gender]

In [11]:
data_nbc

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,1
1,0,14.0,5.4,0,0,1,0,0
2,0,11.8,6.3,1,1,1,1,1
3,0,14.4,6.1,0,1,1,1,1
4,1,13.5,5.9,0,0,0,0,0
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,0
4997,1,11.9,5.4,0,0,0,0,0
4998,1,12.9,5.7,0,0,0,0,0
4999,1,13.2,6.2,0,0,0,0,0
5000,1,15.4,5.4,1,1,1,1,1

In [12]:
# memisahkan data dan label

# x_data
x_data = data_nbc.drop(["gender"],axis = 1)

# y_data[]
y_data = data_nbc.gender.values

In [13]:
print(x_data)
y_data

      long_hair  forehead_width_cm  forehead_height_cm  nose_wide  nose_long
0             1               11.8                 6.1          1          0  \
1             0               14.0                 5.4          0          0
2             0               11.8                 6.3          1          1
3             0               14.4                 6.1          0          1
4             1               13.5                 5.9          0          0
...         ...                ...                 ...        ...        ...
4996          1               13.6                 5.1          0          0
4997          1               11.9                 5.4          0          0
4998          1               12.9                 5.7          0          0
4999          1               13.2                 6.2          0          0
5000          1               15.4                 5.4          1          1

      lips_thin  distance_nose_to_lip_long
0             1                          1
1             1                          0
2             1                          1
3             1                          1
4             0                          0
...         ...                        ...
4996          0                          0
4997          0                          0
4998          0                          0
4999          0                          0
5000          1                          1

[5001 rows x 7 columns]

array([1, 0, 1, ..., 0, 0, 1], dtype=int64)

In [14]:
print(y_data)

[1 0 1 ... 0 0 1]

Standarisasi Data -> ditransform data yang berskala, biar seimbang

In [15]:
scaler = StandardScaler()

In [16]:
scaler.fit(x_data)

StandardScaler()

In [17]:
Standarized_data = scaler.transform(x_data)

In [18]:
print(Standarized_data)

[[ 0.38719442 -1.24793291  0.28397148 ... -1.01592361  1.01389375
   1.00220198]
 [-2.58268182  0.73938869 -1.00941773 ... -1.01592361  1.01389375
  -0.99780285]
 [-2.58268182 -1.24793291  0.65351125 ...  0.98432598  1.01389375
   1.00220198]
 ...
 [ 0.38719442 -0.25427211 -0.45510807 ... -1.01592361 -0.98629664
  -0.99780285]
 [ 0.38719442  0.01672629  0.46874136 ... -1.01592361 -0.98629664
  -0.99780285]
 [ 0.38719442  2.00404789 -1.00941773 ...  0.98432598  1.01389375
   1.00220198]]

In [19]:
x_data = Standarized_data
y_data = data_nbc['gender']

In [20]:
print(x_data)

[[ 0.38719442 -1.24793291  0.28397148 ... -1.01592361  1.01389375
   1.00220198]
 [-2.58268182  0.73938869 -1.00941773 ... -1.01592361  1.01389375
  -0.99780285]
 [-2.58268182 -1.24793291  0.65351125 ...  0.98432598  1.01389375
   1.00220198]
 ...
 [ 0.38719442 -0.25427211 -0.45510807 ... -1.01592361 -0.98629664
  -0.99780285]
 [ 0.38719442  0.01672629  0.46874136 ... -1.01592361 -0.98629664
  -0.99780285]
 [ 0.38719442  2.00404789 -1.00941773 ...  0.98432598  1.01389375
   1.00220198]]

In [21]:
print(y_data)

0       1
1       0
2       1
3       1
4       0
       ..
4996    0
4997    0
4998    0
4999    0
5000    1
Name: gender, Length: 5001, dtype: int64

Memisahkan data training dan data testing

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, stratify=y_data, random_state=2)

In [23]:
print(x_data.shape, x_train.shape, x_test.shape)

(5001, 7) (4000, 7) (1001, 7)

In [24]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(x_train, y_train)

GaussianNB()

melakukan deteksi akurasi untuk data training

In [25]:
x_train_prediction = gnb.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [26]:
print('Akurasi data training = ', training_data_accuracy)

Akurasi data training =  0.97

In [27]:
x_test_prediction = gnb.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [28]:
print('Akurasi data testing = ', test_data_accuracy)

Akurasi data testing =  0.972027972027972

membuat model prediksi

In [29]:
input_data = (1, 11.8, 6.1, 1, 0, 1, 1)
# input_data = (0, 14.0, 5.4, 0, 0, 1, 0)

input_data_as_numpy_array = np.array(input_data)
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

std_data = scaler.transform(input_data_reshape)
print(std_data)

prediction = gnb.predict(std_data)
print(prediction)

if (prediction[0] == 0 ):
    print('Ini Female')
else :
    print('Ini Male')

[[ 0.38719442 -1.24793291  0.28397148  1.01227287 -1.01592361  1.01389375
   1.00220198]]
[1]
Ini Male

c:\Users\Lutfia\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

simpan model

In [30]:
import pickle

In [31]:
filename = 'gender_model.sav'
pickle.dump(gnb, open(filename, 'wb'))